<!-- エラーメッセージに飛ぶ。何もなければ表示しない -->
<!-- validationエラーに使う -->
<div class="format_register">
  <%= render 'shared/error_messages' %>
  <h1 class="title_user_register_form">ユーザ登録</h1>

<%# <%= form_for(user, method: :post, url: edit_user_path(user)) do |f| %> 

  <%= form_for(user) do |f| %>
    <div class="form-register">
      <strong><%= f.label :name, 'ユーザー名' %></strong>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-register">
      <strong><%= f.label :password, 'パスワード' %></strong>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-register">
      <strong><%= f.label :password_confirmation, 'パスワード（確認）' %></strong>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>

    <%= f.submit '作成', class: 'btn create_register btn-primary' %>
  <% end %>
</div>